language: ruby
cache: bundler
rvm:
  - 2.7
  - 3.0
  - 3.1
script:
  - bundle install --path vendor/bundle
  - bundle exec rspec
  - gem build openapi_ipify.gemspec
  - gem install ./openapi_ipify-4.0.1-pre.0.gem
